.logo-ctic{
    width: 25%;
}
.logos-footer{
    width: 10em;
}
.logos-footer-mpsa{
    width: 21em;
}
.footer_section{
    display: flex;
    flex-wrap: wrap;
}
.padding{
    padding: 1em 0px 1em 0px;
}
.padding-2{
    padding: 2em 0px 2em 0px;
}

h4{
    text-align: center;
    color: #F58838 ;
    padding: 2em 0px 2em 0px;
}
.v_txt h2{
    text-align: center;
    color: #F58838 ;
}
.msg-generate{
    text-align: center !important;
    transition: ease-in 2s !important;
}
.msg-generate-two{
    text-align: center !important;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.calificacion-form ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calificacion-form li{
    display: inline-block;
    margin:0 2em;
}
.calificacion-form ul li label{
    display: inline-block;
    border: 1px solid #b1b2cf;
    color: #3E4095;
    font-weight: bold;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.4s all ease;
    padding: 8px 12px;
}

.calificacion-form ul li label:hover{

    border: 1px solid #F58838;
    background-color: #F58838;
    color: white;
}

.calificacion-form ul li input[type="checkbox"]:checked + label{
    border: 1px solid #F58838;
    background-color: #F58838;
    color: white;
}

.calificacion-form ul li input[type="checkbox"]{
    opacity: 0;
}

.button-send-ctic{
    border-radius: 10px!;
    background-color: #F58838;
    border: 1px solid #F58838 ;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
}
.button-send-ctic:hover{
    background-color: #fa7a1f;
}

/*====================================================== */
/*===================VALIDACION HTML====================== */
/*====================================================== */
.btn_confirmación{
    background-color:#fa7a1f;
    border: none;
    padding: 0.5em;
}

.btn_confirmación a{
    color: white;
    font-weight: bold;
    font-style: none;
    text-decoration: none;
}
.btn_confirmación a:hover{
    color: white;
    font-weight: bold;
    font-style: none;
    text-decoration: none;
}

.agradecimiento{
    padding-top: 11em;
    padding-bottom: 11em;
}
.v_txt h4{
    color: #fa7a1f;
}

.n_txt h4{
    font-weight: bold;
    color: #3E4095;
}
/*====================================================== */
/*===================MEDIA QUERIES====================== */
/*====================================================== */

@media (max-width: 768px){
    .logo-ctic{
        width: 30%;
    }
    .calificacion-form ul{
        display: flex;
        flex-wrap: nowrap;
    }  
}

@media (max-width: 430px){
    .calificacion-form ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }       
    .text_area{
        width: 24em;
    }
    .calificacion-form li {
        display: inline-block;
        margin: 0;
    }
    .logo-ctic{
        width: 65%;
    }
    .logos-footer-mpsa {
        width: 10em;
    }
    .logos-footer {
        width: 5em;
    }
    .footer_section{
        display: flex;
        flex-wrap: nowrap;
    }
}


@media (max-width: 390px){
    .calificacion-form ul{
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }       
    .text_area{
        width: 22em;
    }
    .calificacion-form li {
        display: inline-block;
        margin: 0;
    }
    .logo-ctic{
        width: 65%;
    }
    .logos-footer-mpsa {
        width: 10em;
    }
    .logos-footer {
        width: 5em;
    }
    .footer_section{
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 376px){
    .calificacion-form ul{
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
    }  
    .text_area{
        width: 22em;
    }

    .msg-generate{
        font-size: 1em !important;
        padding-left: 0.5em !important;
        text-align: center !important;
    }
    .msg-generate-two{
        font-size: 0.7em !important;
        padding-left: 0.5em !important;
        text-align: center !important;
    }
}

@media (max-width: 320px){
    .calificacion-form ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        flex-direction: column;
    } 
    .calificacion-form li {
        display: inline-block;
        margin: 0;
        margin-bottom: 1em;
    }
    .text_area{
        width: 16em;
    }
    .logos-footer-mpsa {
        width: 9em;
    }
    .logos-footer {
        width: 3em;
    }
    .msg-generate{
        font-size: 0.9em !important;
        padding-left: 0.5em !important;
    }
    .msg-generate-two{
        font-size: 0.7em !important;
        padding-left: 0.5em !important;
    }
    .first-text h4{
        font-size: 1em;
    }
    .v_txt h2{
        color: #fa7a1f;
        font-size: 1.3em;
    }
    .v_txt h4{
        color: #fa7a1f;
        font-size: 0.8em;
    }
}