p{
    color: rgb(243, 232, 232);
    font-weight: bold;
}
a{
    text-align: center;
}

button{
    background-color: gray;
    border-radius: 15%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center; 
}